@use '../../styles/functions' as *;

.country-details {
  padding: rem(40) rem(28);

  &__flag {
    border-radius: rem(5);
    overflow: hidden;
    margin-top: rem(64);
  }

  &__content {
    display: grid;
    gap: rem(20);
    margin-top: rem(40);
  }
  &__arrow {
    background-color: #fff;
    display: inline-block;
    font-size: rem(14);
    line-height: rem(20);
    width: rem(104);
    height: rem(32);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: rem(10);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: rem(2);

    cursor: pointer;
  }

  &__name {
    font-size: rem(22);
    font-weight: 800;
  }

  &__info {
    font-size: rem(14);
    line-height: rem(32);
    font-weight: 200;
    list-style: none;

    span {
      font-weight: 600;
    }

    &.border-country {
      font-size: rem(16);
      line-height: rem(24);
      margin-bottom: rem(16);
    }
  }

  &__language {
    font-weight: 200 !important;

    &:not(:last-of-type)::after {
      content: ', ';
    }
  }

  &__border {
    display: inline-block;
    background-color: #fff;
    padding: rem(10) rem(20);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-weight: 200;
    font-size: rem(12);
    border-radius: rem(2);

    &:not(:last-of-type) {
      margin-right: rem(10);
      margin-bottom: rem(10);
    }
  }
}

@media screen and (min-width: rem(700)) {
  .country-details {
    padding: rem(80) rem(81);

    &__data {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: rem(100);
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-content: center;
    }

    &__name {
      grid-column: 1/3;
    }

    &__section:last-of-type {
      grid-column: 1/3;
    }

    &__arrow {
      background-color: none;
      box-shadow: none;
    }
  }
}
